/* .outer{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: red;
    
}
.maindiv{
    background-color: yellow;
    margin: auto;
    width: 80vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-items: center;

}
.feilds{
    background-color: aquamarine;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.FnameLname{
    display: flex;
    flex-direction: column;

}
.FnLn{
    width: 63%;
    display: flex;
    justify-content: space-between;
        
}
.email{
    width: 30vw;
    padding: 1%;
}

.btns{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}
.Link{
    color: blue;
    text-decoration: none;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
} */
.outer{
    width: 100vw;
    height: 80vh;
    margin-top: 10vh;
}
.maindiv{
    background-color: yellow;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.307);
    border-radius: 30px;
    
}
.feilds{
    background-color: antiquewhite;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.imgup{
    padding-top: 4%;
}
.FnLn{
    /* background-color: red; */
    width: 65%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
    /* border: 1px solid blue; */

    
}
/* div .Lname{
    margin-left: 8%;
} */
.email{
    /* background-color: red; */
    /* border: 1px solid blue; */
    /* width: 30vw; */
    width: 65%;
    padding: 1%;
    display: flex;
    justify-content: center;
}
 .emailfeild{
    width: 91%;
    
    /* background-color: yellow; */
}
/* div .conpass{
    margin-left: 8%;

} */
.p{
    /* background-color: red; */
    /* border: 1px solid blue; */

    width: 65%;
    text-align: start;
}
.showpass{
    width: 65%;
}
.img{
    background-color: rgb(182, 115, 27);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.btns{
    width: 65%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */

}
.Link{
    color: blue;
    text-decoration: none;
}
@media (max-width: 780px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img{
        display: none;
    }
    
}
